.container {
    display: inline-block;
    text-align: center;
    border: 2px solid black;
    width: 970px;
    height: 300px;
    background-color: lightcoral;
}

.farm {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.cave {
    display: inline-block;
    margin: 50px;
}

.casino {
    display: inline-block;
    margin: 50px;
}

.house {
    display: inline-block;
    margin: 20px;
}

button {
    background-color: gold;
    width: 100px;
    height: 50px;
    color: blue;
}